* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

#nav {
    padding: 0 50px 0 30px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
}

.circle {
    height: 22px;
    width: 22px;
    background-color: black;
    border-radius: 50%;
}

#links {
    display: flex;
    gap: 30px;
}

#links h4 {
    font-size: 17px;
    font-weight: 500;
}

#links h4 span {
    color: rgb(128, 123, 123);
    margin-left: 20px;
}

#nav2 {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 30px;
}

#nav2 a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

#content {
    height: calc(100% - 130px);
    width: 100%;
}

#text-content {
    height: 40%;
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden ;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.elem {
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elem h1{
    font-size: 100px;
    font-weight: 300;
}

#img-content{
    height: 60%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

#img-content img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img-content::-webkit-scrollbar{
    display: none;
}

.img-p{
    object-position: center -100px;
}